
<div class="container-fluid col-md-12">

  <div class="col-md-12">
    <app-header class="col-md-12"></app-header>
  </div>
  
  <div class="col-md-12 container-fluid">
    <div class="row ">
      <app-menu class="col-md-2" style="background-color: rgb(57, 117, 229) !important"></app-menu>
    
      <app-content class="col-md-10"></app-content>
    </div>
  </div>
  <div class="col-md-12" style="background-color: cornflowerblue;">
    <app-footer class="col-md-12"></app-footer>
  </div> 
  
</div>
